@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Neucha';
  color: white;
  font-size: 2.2rem;
}

p {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
}

.panels {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.panel {
  overflow: hidden;
  flex: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: font-size 0.7s ease-in,
    flex 0.7s cubic-bezier(0.87, -0.24, 0.63, 1.38), background 0.2s;
  /* flex 0.7s cubic-bezier(0.87, -0.24, 0.57, 1.46), background 0.2s; */
  /* flex 0.6s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s; */
}

.panel1 {
  background-image: url(https://sun3.dataix-kz-akkol.userapi.com/221G7SEvnBb_xyKRz-3qKCBNjZpjEkdvh7wUYA/-C9OR7WqzIQ.jpg);
}
.panel2 {
  background-image: url(https://sun1.dataix-kz-akkol.userapi.com/-eQAI-Cvi1MDOKoIAhcJWKqOpsvzAPjYt7vOBw/jGtTmEIQh3c.jpg);
}
.panel3 {
  background-image: url(https://sun1.dataix-kz-akkol.userapi.com/PDcCJ9gWvCxwmwDZT-ZdRwRIljj_OzDm-KhNdA/jNbc_rdbrSE.jpg);
}
.panel4 {
  background-image: url(https://sun2.dataix-kz-akkol.userapi.com/Am9-hjMcKPzy4qH_mfIG95Vzr1rTbrI8x98c5w/qcMGZmihXRU.jpg);
}
.panel5 {
  background-image: url(https://sun4.dataix-kz-akkol.userapi.com/Wq-k2gy5Ga57z3aeZLExWQ_t1yDhKBbS77_8uQ/RJ9qw0yk1Ck.jpg);
}

.panel > * {
  flex: 1;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
}

.panel > p:first-child {
  transform: translateY(-100%);
}

.panel.open.active > p:first-child {
  transform: translateY(0);
}

.panel > p:last-child {
  transform: translateY(100%);
}

.panel.open.active > p:last-child {
  transform: translateY(0);
}

.panel.open {
  font-size: 4rem;
  flex: 5;
}

@media (max-width: 700px) {
  .panels {
    flex-direction: column;
  }

  .panel.open {
    font-size: 3.2rem;
    flex: 5;
  }
}
