* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

img {
  display: block;
  width: 100%;
}

.list {
  padding-top: 2rem;
  margin: 0 auto;
  width: 95%;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.card button {
  margin-top: auto;
  cursor: pointer;

  border-radius: 50rem;
  border: none;
  background: rgb(226, 228, 247);
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}

.card button:hover {
  background-color: rgb(237, 226, 247);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  /* Hide it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  background-color: white;
  border-radius: 6px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.modal-body {
  padding: 1rem;
}

.description {
  margin-top: 0.6rem;
  color: #7e7e7e;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
